{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
    {% for blog in blogs %}
        <div class="col-md-4 mb-4" style="width: 18rem;">
            <div class="card h-100 w-100 shadow-sm">
                <img src="{{ blog.photo.url}}" class="card-img-top" alt="...">
                <a href="{% url 'blog_detail' blog.id %}" style="text-decoration:none;">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.title}}</h5>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}